*.vcxproj.user
*.sdf
*.opensdf
*.suo
*.obj
*.tlog
*.manifest
*.log
*.lastbuildstate
ipch

mk/msvs10/Release/*
mk/msvs10/Debug/*

out/win-x86/NightCityBlues.exe

ext/sdl/*
ext/sdl-static-my/*

draw.some.pixels
gitold-.git
out/wc-mockup.psd
out/nc.psd
out/compare.psd
out/png.png
out/-nc.png
out/city__r1688206901.png
out/youtube.preview-rc1.jpg
out/wallpaper-89406.jpg
out/wallpaper-713406.gif
